.adminCont{
    padding-top: 20px;

}
.adminCont .parent{
    display: flex;
    justify-content: center;
}
.adminCont #productsForm{
    text-align: left;
    padding: 20px 30px;
    border: 1px solid white;
    box-shadow: -5px 5px rgb(229, 101, 14);;
    border-radius: 4px;
    max-width: 400px;

}
.adminCont #productsForm{
    flex: auto;

}
.admin #secCoupons{
    flex:auto;
}

select option{
    color: black;
}
   
.adminCont #secCoupons{
    text-align: left;
    padding: 20px 30px;
    border: 1px solid white;
    box-shadow: 5px 5px rgb(229, 101, 14);;
    border-radius: 4px;
    max-width: 400px;
}