.adminCont{
    padding: 20px 0;


}
.adminCont .parent{
    display: flex;
    justify-content: space-evenly;

}
.adminCont #productsForm{
    text-align: left;
    padding: 20px 30px;
    border: 1px solid white;
    box-shadow: -5px 5px rgb(229, 101, 14);
    border-radius: 4px;
    max-width: 400px;
    height: 100%;

}
.adminCont #productsForm{
    flex: auto;

}
.adminCont #secCoupons{
    flex:auto;
    height: 100%;
}

select option{
    color: black;
}
   
.adminCont #secCoupons{
    text-align: left;
    padding: 20px 30px;
    border: 1px solid white;
    box-shadow: 5px 5px rgb(229, 101, 14);;
    border-radius: 4px;
    max-width: 400px;
}